# All hosts
#

# This keeps the connection alive by sending a null packet every 5 minutes for every config in the file
Host *
    ServerAliveInterval 240 

# standard ssh config
#
Host ALIAS
    HostName ADDRESS
    User USERNAME
    IdentityFile ~/PATH/TO/PRIVATE/KEY

# access remote jupyter notebooks
Host ALIAS-jupyter
    HostName ADDRESS
    User USERNAME
    IdentityFile ~/PATH/TO/PRIVATE/KEY
    LocalForward LOCAL_PORT_RECEIVER localhost:REMOTE_PORT_SENDER

# GITHUB ACCOUNTS
#

# Personal account
Host github.com-personal
    HostName github.com
    User git
    IdentityFile ~/PATH/TO/PRIVATE/KEY
    
# Other account-1
Host github.com-OTHER1
    HostName github.com
    User git
    IdentityFile ~/PATH/TO/PRIVATE/KEY
